.navbar .navbar-brand img
{
    height:  30px !important;
    width: auto !important;
    margin-left: 5rem !important;
    margin-top: -5px !important;
}

/* 라이트 모드 배경색 */
:root
{
    --color-background: #ffffff;  /* 흰색 */
}

/* 다크 모드 배경색 */
[data-theme="dark"] {
    --color-background: #0f172a;  /* 어두운 남색 계열 */
}

btn-outline:hover
{
    background-color: var(--color-primary);
    color: white;
    transition: all 0.3s ease-in-out;
}

.btn-primary:hover
{
    filter: brightness(0.9);
    transition: filter 0.2s ease-in-out;
}